.editPlaylists.fadein
  #editPlaylistNav
    #editPlaylistName
      h1#editPlaylistTitle
      form#editTitleForm.hidden
        input(type='text' name="newPlaylistTitle")#editTitleInput
      #editIcon
        i(class="fas fa-edit")
    #editPlaylistButtons
      #editPlaylistPlayButton Play
      #editPlaylistDeleteButton Delete Playlist
  #editPlaylistSongs
    #fakeTable
      #tableHeader
        .trackTitle Track
        .trackArtist Artist
        .trackAlbum Album
        .trackDelete
      #tableBody
        .addSongs No songs found
