.home.fadein
  .home__title
    h2 Your Playlists
  .home__playlists.scroll#homePlaylists
    .moreMusic.home__playlist
      img(src='/public/images/playlists/15.jpg')
      .moreMusic__text Discover more...
