#editPlaylistNav
  #editPlaylistName
    h1#editPlaylistTitle
    #editIcon
      i(class="fas fa-edit")
  #editPlaylistButtons
    a()#editPlaylistPlayButton Play
    a()#editPlaylistDeleteButton Delete
#editPlaylistSongs.scroll
