.editPlaylists.fadein
  #editPlaylistNav
    #editPlaylistName
      h1#editPlaylistTitle
      #editIcon
        i(class="fas fa-edit")
    #editPlaylistButtons
      #editPlaylistPlayButton Play
      #editPlaylistDeleteButton Delete Playlist
  #editPlaylistSongs.scroll
    #fakeTable
      #tableHeader
        .trackTitle Track
        .trackArtist Artist
        .trackAlbum Album
        .trackDelete
      #tableBody
        .addSongs No songs found
