.search.fadein
  h1#searchTitle SEARCH

  #noResults No results found
  #searchSongs.search-section.hidden Songs
    #resultSongs(class="result scroll") No songs found
  #searchArtists.search-section.hidden Artists
    #resultArtists(class="result scroll") No Artists found
  #searchAlbums.search-section.hidden Albums
    #resultAlbums(class="result scroll") No albums found
  #searchPlaylists.search-section.hidden Playlists
    #resultPlaylists(class="result scroll") No playlists found
  #searchFriends.search-section.hidden Friends
    #resultFriends(class="result scroll") No friends found
  #searchUsers.search-section.hidden Users
    #resultUsers(class="result scroll") No users found
