#mainContent.content
  if mainContent === 'home'
    include main-content/home
  if mainContent === 'search'
    include main-content/search
  if mainContent === 'library'
    include main-content/library
