.nav-bar
  .nav-bar__search#nav-search
    +input('search', 'search', 'search')
    #searchIcon
      i(class="fas fa-search")
  #welcome.nav-bar__welcome
  .nav-bar__logout#logout
    #backButton.hidden
      i(class="fas fa-chevron-circle-left")
    a#logoutButton Logout
