.nav-bar
  .nav-bar__search#nav-search
    +input('search', 'search', 'search')
    #searchIcon
      i(class="fas fa-search")
  #welcome.nav-bar__welcome
  .nav-logo.hidden
    #nav-logo.wrapper
      include ../../svg/logo.html
    .brand__vibe VIBE

  .nav-bar__logout#logout
    a#logoutButton Logout
