.sidebar
      #sidebarLinks.sidebar__links
        #home Home
        #search Search
        #library Library
      #sidebarPlaylists.playlists
        p.playlistTitle Playlists
        //- each playlist in playlists
        //-   .sidebar__playlist(id= playlist.playListId)= playlist.playListName
