.hero
  video(autoplay muted loop src='public/images/hero.mp4')
  .vibeCheck
    h1.vibeCheck__header What's your VIBE?
    .vibeCheck__subtitle Music for your mood. No credit card required.
    a#demoButton.vibeCheck__button TRY THE DEMO
