.hero
  video(autoplay playsinline muted loop src='public/images/hero.mp4')
  .vibeCheck
    h1.vibeCheck__header What's your VIBE?
    .vibeCheck__subtitle Music for your mood.
    #demoButton.vibeCheck__button.clickable(onclick="") TRY THE DEMO
    .alt-buttons
      a(href='/login').vibeCheck__button LOG IN
      a(href='/signup').vibeCheck__button SIGN IN
