doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' href="/public/images/favicon.ico" type="image/x-icon")
    link(rel='stylesheet' href="/public/stylesheets/normalize.css" type="text/css")
    link(rel='stylesheet' href="/public/stylesheets/index.css" type="text/css")
    script(async defer src="public/index.js" type="text/javascript")
    title Vibe
  body
    button()#button1 Click me
    button#button2 No me
    //- nav
    //-   .nav__logo
    //-     img(src="/public/images/Vibe.png")
    #bodyContent
