doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' href="/public/images/favicon.ico" type="image/x-icon")
    link(rel='stylesheet' href="/public/stylesheets/normalize.css" type="text/css")
    link(rel='stylesheet' href="/public/stylesheets/index.css" type="text/css")
    title Vibe
  body
    nav
      .nav__logo
        img(src="/public/images/Vibe.png")
