extends ./components/head

block content
  include components/loading
  .main
    include components/music/logo
    include components/music/nav-bar
    include components/music/sidebar
    include components/music/main-content
    include components/music/music-player
  #contextMenu.hidden
    div Add to Playlist
    #contextPlaylists
      .contextPlaylist No playlists found
