.main
    .text Sign up with your email address
    #errors.hidden
    form(method="POST" action='/signup')#auth-form
      +input('_csrf', 'hidden')
      +input('email', 'text', 'Email', true)
      +input('confirmEmail', 'text', 'Confirm Email', true)
      +input('password', 'password', 'Password', true)
      +input('confirmPassword', 'password', 'Confirm Password', true)
      +input('userName', 'text', 'Choose a username', true)
      .birthday Birthday
        +input('birthday', 'date', __, true)
      .gender
        label Man
          +input('gender', 'radio', __, true, 'man')
        label Woman
          +input('gender', 'radio', __, true, 'woman')
        label Non binary
          +input('gender', 'radio', __, true, 'non_binary')
      button#auth-button Sign Up
    .line
      .line__one
      .line__two
    .text
      p Already have an account?

    a(href="/login")#signup-button Login to VIBE
