doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href=`/public/stylesheets/${fileName}.css` type="text/css")
    link(rel='stylesheet' href=`/public/stylesheets/normalize.css` type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sintony:wght@400;700&display=swap" rel="stylesheet")
    link(rel='icon' href="/public/images/favicon.ico" type="image/x-icon")
    script(backend=backend)
    script(async defer src=`/public/js/${fileName}.js` type='module')
    script(async defer src="https://kit.fontawesome.com/5f803584f1.js" crossorigin="anonymous")
    title= title

  body.fadein
    include utils
    block content
