<svg
  class="load"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 716.56 639"
>
  <defs>
    <style class="logoStyle">
      .cls-1,
      .cls-4 {
        fill: none;
      }
      .cls-2 {
        clip-path: url(#clip-path);
      }
      .cls-3 {
        fill: #fde74c;
      }
      .cls-4 {
        stroke: #121212;
        stroke-miterlimit: 10;
        stroke-width: 30px;
      }
    </style>
    <clipPath id="clip-path" transform="translate(-319.5 -55)">
      <circle class="cls-1" cx="656.5" cy="372.5" r="318.5" />
    </clipPath>
  </defs>
  <g id="Layer_4" data-name="Layer 4">
    <g class="cls-2">
      <circle class="cls-3" cx="338" cy="319.5" r="319.5" />
      <path
        class="cls-4"
        d="M319.5,372.5H440.9c12.1,0,26.52,8.81,32.05,19.57l81.63,158.86c5.53,10.76,12.33,9.93,15.11-1.84l83.87-355.18c2.78-11.77,9.32-12.47,14.53-1.55l76,159.28c5.21,10.92,19.38,19.86,31.48,19.86h102.3c12.1,0,31.9,0,44-.08L1036,371"
        transform="translate(-319.5 -55)"
      />
    </g>
  </g>
</svg>
