.sidebar
  #sidebarLinks.sidebar__links
    #home Home
    #search Search
    #library Library
  .sidebarPlaylistsBar
    p.playlistTitle Playlists
    #plusIcon
      i(class="fas fa-plus")
  #sidebarPlaylists.playlists.scroll
    form#newPLForm.hidden
      input(class="newPlaylist" name="newPlaylist" type="text")#newPLinput
