include loading

include nav-bar

.hero
  img(src='public/images/hero.jpg')
  .vibeCheck
    h1.vibeCheck__header What's your VIBE?
    .vibeCheck__subtitle Music for your mood. No credit card required.
    button.vibeCheck__button TRY THE DEMO
