include utils
include head

.nav-bar
    .nav-bar__brand
      #nav-logo.wrapper
        include svg/logo.html
      .brand__vibe VIBE
.main
  .text
    p To coninue, log in to Vibe
  button#facebook-button CONTINUE WITH FACEBOOK
  button#apple-button CONTINUE WITH APPLE
  button#phone-button CONTINUE WITH PHONE NUMBER
  .line
    .line__one
    .line__two
    #orText OR
  form(method="POST" action='/')#login-form
    +input('_csrf', 'hidden')
    +input('email-username', 'text', 'Email or username')
    +input('password', 'password', 'Password')
    .submit
      .remember
        +input('remember', 'checkbox')
        label(for="remember") Remember me?
      button#login-button Login
  .text
    a() Forgot your password?
  .line
    .line__one
    .line__two
  .text
    p Don't have an account?
  #signup-button
    a(href="/signup") SIGN UP FOR VIBE
