include utils
include head
//- include loading

.main
  .logo
      #nav-logo.wrapper
        include svg/logo.html
      .brand__vibe VIBE
  .navbar
  .sidebar
    #sidebarLinks.sidebar__links
      #home Home
      #search Search
      #library Library
    .playlists
  #mainContent.content
    if mainContent === 'home'
      include home
    if mainContent === 'search'
      include search
    if mainContent === 'library'
      include library
  .music
