include utils
include head
//- include loading

.main
  .logo
      #nav-logo.wrapper
        include svg/logo.html
      .brand__vibe VIBE
  .navbar
  .sidebar
    #sidebarLinks.sidebar__links
      #home Home
      #search Search
      #library Library
    .playlists
  #mainContent.content
    if mainContent === 'home'
      include home
    if mainContent === 'search'
      include search
    if mainContent === 'library'
      include library
  .music
    .songOptions
      .song-info
        .song-info__art
          img(src=track.art)
        .song-info__title= track.title
        .song-info__artist= track.artist
      .song-buttons
        .like-button
          i(class="fas fa-heart")
        .popout-
          i(class="fas fa-window-restore")
    .musicPlayer
      .play-buttons
        .shuffle-button
          i(class="fas fa-random")
        .prev-button
          i(class="fas fa-backward")
        .play-button
          i(class="fas fa-play")
        .next-button
          i(class="fas fa-forward")
        .repeat-button
          i(class="fas fa-redo-alt")
      .progress
        .start-time
        .progress-bar
        .end-time
    .otherOptions
      .queue-button
      .volume-icon
      .volume-bar
