extends head

block content
  .nav-bar
    .nav-bar__brand
      #nav-logo.wrapper
        include svg/logo.html
      .brand__vibe VIBE
    .nav-bar__buttons
      button.nav-bar__sign-up Sign Up
      button.nav-bar__login Login
