.nav-bar
  .nav-bar__brand
    #nav-logo.wrapper
      include svg/logo.html
    .brand__vibe VIBE
  .nav-bar__buttons
    a(href="/signup").nav-bar__sign-up Sign Up
    a(href="/login").nav-bar__login Login
