.home__title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

h2 {
  margin-left: 20px;
}

.home__playlists {
  background-color: #121212;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  column-gap: 20px;
  width: 90%;
  height: 100%;
}

.home__playlists > div {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 30px 30px;
  font-size: 15px;
  font-weight: 200;
  object-fit: contain;
  
}

.home__playlists > div:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 3px white;
  opacity: 0.9;
}

.home__playlist {
  position: relative;
}

.home__playlist div {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  color: #e0e0e0;
  background-color: #12121294;
  width: 200px;
  font-size: 20px;
  padding: 10px 0;
}
