body {
  opacity: 0;
  background-color: #e0e0e2;
  position: relative;
  font-size: min((20px, 2vw), 30px);
  font-family: 'Sintony', sans-serif;
  box-sizing: border-box;
  color: #020300;
  text-align: center;
}

#loadingOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e0e0e0;
  z-index: 1;
}

button,
a {
  padding: 5px 0;
  height: 60px;
  background-color: #fde74c;
  border-radius: 30px;
  font-size: 20px;
  color: #020300;
  border: none;
}

button:hover,
a:hover {
  filter: opacity(0.6);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #020300;
  border: none;
  background: none;
  text-decoration: none;
}

a:visited {
  color: #020300;
  text-decoration: none;
}

a:hover {
  color: #2a37509a;
}

svg {
  height: 100%;
}

.nav-bar {
  background-color: none;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #aaaaaa solid thin;
}

.nav-bar__brand {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.brand__vibe {
  font-family: 'Montserrat', sans-serif;
  margin-left: 1vw;
  font-size: 1.5em;
}

#nav-logo {
  height: 80%;
  margin: 0;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30vw;
  margin: auto;
  margin-bottom: 100px;
}

.main > *,
form > * {
  margin: 10px 0;
  height: 50px;
  width: 100%;
}

#Emily-button {
  background-color: #3b5998;
  color: #e0e0e2;
}

#Jeff-button {
  background-color: #000000;
  color: #ffffff;
}

#Zach-button {
  background-color: #fde74c;
}

.line {
  position: relative;
  margin: 0;
}

.line * {
  height: 50%;
  width: 100%;
}

.line__one {
  border-bottom: #aaaaaa solid thin;
  background: none;
}

#continue {
  position: absolute;
  bottom: 10px;
  width: 260px;
  background-color: #e0e0e0;
  left: calc(50% - 130px);
}

#errors {
  color: red;
  font-size: 0.8rem;
  height: 50px;
  display: flex;
  align-items: flex-end;
}

.errorText {
  margin-bottom: 10px;
}

.hidden {
  display: none !important;
}

#auth-form {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: calc(80px * 3);
}

input {
  box-sizing: border-box;
  padding-left: 10px;
  height: 40px;
  border-radius: 3px;
  border: none;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#auth-button {
  min-width: 125px;
}

#signup-button {
  background-color: #fde74c;
}

#forget {
  display: none;
}

.fadein {
  animation: fadein 1s 250ms forwards;
}

.fadeout {
  animation: fadeout 1s 250ms forwards;
}

.load {
  stroke: #817e9f;
  opacity: 0;
  fill: none;
  stroke-dasharray: 1200;
  animation: load 1.25s 500ms cubic-bezier(0.59, -0.02, 0.1, 1) infinite;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -2;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 10;
    stroke: #2a3750;
    stroke-dashoffset: 1200;
  }

  100% {
    opacity: 10;
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 525px) {
  .main {
    width: 80%;
  }
}
