/* Global*/
body {
  background-color: #121212;
  position: relative;
  font-size: min((20px, 2vw), 30px);
  font-family: 'Sintony', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #e0e0e0;
  text-align: center;
}

img {
  height: 100%;
  width: 100%;
}

button,
a {
  padding: 5px 0;
  height: 3vw;
  background-color: #fde74c;
  border-radius: 30px;
  font-size: 15px;
  color: #020300;
  border: none;
}

button:hover,
a:hover {
  filter: opacity(0.6);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100%;
  color: #020300;
  font-size: 15px;
  border: none;
  background: none;
  text-decoration: none;
}

a:visited {
  color: #020300;
  text-decoration: none;
}

a:hover {
  color: #2a37509a;
}

svg {
  height: 100%;
}

#loadingOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #121212;
  z-index: 1;
}

#loading {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  margin: auto;
}
/* Main */
.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 75px 1fr 100px;
  grid-template-areas:
    'logo navbar'
    'sidebar mainContent'
    'music music';
}
.main * {
  overflow: hidden;
}
/* Logo */
.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #020300;
}

.brand__vibe {
  font-family: 'Montserrat', sans-serif;
  margin-left: 1vw;
}

#nav-logo {
  height: 80%;
  margin: 0;
  padding: 0;
}
/* Nav */

.nav-bar {
  grid-area: navbar;
  width: 100%;
  background-color: #141414;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logoutButton {
  color: #e0e0e0 !important;
}

input {
  box-sizing: border-box;
  padding-left: 10px;
  height: 40px;
  border-radius: 3px;
  border: none;
}

/* Sidebar */
.sidebar {
  height: 100%;
  grid-area: sidebar;
  background-color: #020300;
  display: grid;
  grid-template-rows: 1fr 2fr;
  row-gap: 0;
}

.sidebar__links {
  display: flex;
  flex-flow: column;
  height: 100%;
  border-bottom: #121212 3px solid;
  border-top: #121212 3px solid;
}
.sidebar__links > div,
#logoutButton {
  width: 100;
  height: 100%;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__links > div:hover,
#logoutButton {
  color: #fde74c;
}
.playlistTitle {
  margin-right: 150px;
}
.playlists {
  margin-top: 6px;
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
}

.playlists::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

.playlists::-webkit-scrollbar {
  width: 6px;
  background-color: #000000;
}

.playlists::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 30px;
}

.playlists > div {
  width: 100;
  height: 50px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlists > div:hover {
  color: #fde74c;
}

/* Content */
.content {
  grid-area: mainContent;
}

/* Music */
.music {
  height: 100%;
  grid-area: music;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  background-color: #181818;
  overflow: hidden;
}

/* .music * {
  border: white solid;
} */

.songOptions {
  display: grid;
  grid-template-areas: 'songinfo buttons';
  grid-template-columns: 5fr 1fr;
  margin-left: 20px;
}

.song-info {
  grid-area: songinfo;
  display: grid;
  grid-template-areas:
    'art title'
    'art artist';
  grid-template-columns: 1fr 2fr;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.song-info__art {
  grid-area: art;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.song-info__art img {
  object-fit: contain;
  height: 80px;
}

.song-info__title {
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song-info__artist {
  grid-area: artist;
  display: flex;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song-buttons {
  display: grid;
  grid-area: buttons;
}

.song-buttons > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: #121212 solid 3px;
}

.musicPlayer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-right: #121212 solid 3px;
}

.player-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.player-buttons * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.player-buttons i {
  padding-top: 30px;
}

.glow {
  text-shadow: 0px 0px 10px #fde74c;
}

.progress {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.progress * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bar {
  position: relative;
  background-color: #e0e0e0;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  overflow: visible;
}

#circle {
  position: absolute;
  background-color: #fde74c;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0%;
}

.otherOptions {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
}

/* Animations */

.fadeout {
  animation: fadeout 1s 3s forwards;
}

.load {
  stroke: #817e9f;
  opacity: 0;
  fill: none;
  stroke-dasharray: 1200;
  animation: load 1.25s 500ms cubic-bezier(0.59, -0.02, 0.1, 1) infinite;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -3;
  }
}

@keyframes load {
  0% {
    opacity: 10;
    stroke: #000000;
    stroke-dashoffset: 1200;
  }

  100% {
    opacity: 10;
    stroke-dashoffset: 0;
  }
}
