body {
  background-color: #2a3750;
  position: relative;
  font-size: min(max(24px, 3vw), 30px);
  font-family: 'Sintony', sans-serif;
  box-sizing: border-box;
  color: #e0e0e2;
}

a {
  border: none;
  background: none;
  color: inherit;
  font-weight: bold;
  text-decoration: none !important;
}
a:visited {
  color: #e0e0e0;
  text-decoration: none;
}

a:hover {
  color: #fde74c;
}

svg {
  height: 100%;
}

#loadingOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #121212;
  z-index: 1;
}

#loading {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
  margin: auto;
}
