
body{
    background-color: black;
    color: white;
}

div.main-error{
    position: absolute;
    top: 50%;
    left: 50%;
}


@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -3;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 10;
    stroke: #2a3750;
    stroke-dashoffset: 1200;
  }

  100% {
    opacity: 10;
    stroke-dashoffset: 0;
  }
}
