#editPlaylistNav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#editPlaylistName,
#editPlaylistButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
}

#fakeTable {
  overflow-x: scroll;
  width: 100%;
}
#editIcon {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#editIcon:hover,
#editPlaylistButtons *:hover,
.delete:hover,
.listsong:hover {
  color: #fde74c;
}

#editPlaylistButtons * {
  color: white;
}

#tableHeader,
.song {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(160px, 1fr)) 50px;
  width: 65vw;
  text-align: left;
}
#tableHeader {
  margin-bottom: 20px;
}
#tableBody {
  margin-bottom: 30px;
}

.listsong,
.delete,
.addSongs {
  padding: 10px 5px;
  font-size: 1rem;
  border: #e0e0e0 solid 1px;
  text-align: left;
}

.delete {
  display: flex;
  justify-content: center;
}

#editTitleInput {
  background: none;
  width: 350px;
  padding: 20px;
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold;
  font-family: 'Sintony', sans-serif;
  color: #e0e0e0;
  text-align: left;
}
